.border {
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.sm-card {
    background: rgba(255, 255, 255, 0.192);
    border-radius: 18px;
}